body {
    background-image: url('../img/background-1.jpg');
    background-size: cover;
    background-position: top center;
    font-family: $primaryFont;
    margin: 0;
    background-attachment: fixed;

    main {
        width: 100%;
        max-width: $desktop;
        margin: 0 auto
    }
}

#currentTime {
    color: $primaryColor;
    font-family: $secondaryFont;
    font-size: 5.5em;
    text-shadow: $textShadow;
    padding: $padding;
    margin: 40px auto 10vh;
    border-radius: $borderRadius;
    width: 350px;
    height: 116px;
    text-align: center;
    box-sizing: border-box
}

.input {
    background-color: $primaryColor;
    border-radius: $borderRadius;
    width: 400px;
    margin: 0 auto;

    .fa-github {
        margin: 0 $margin;
        vertical-align: middle;
        font-size: 2em;
        max-width: calc(#{$margin} * 3)
    }

    input {
        padding: $padding;
        background-color: transparent;
        border: 0;
        width: 80%;
        box-sizing: border-box;
        outline: 0
    }
}

footer {
    font-size: 0.8em;
    text-align: right;
    padding: 0 15px;
    position: absolute;
    bottom: 3px;
    right: 0px;

    li {
        display: inline;
        margin-left: $margin;

        a {
            text-decoration: none;
            color: $primaryColor;
            text-shadow: $textShadow
        }
    }
}
