$primaryColor: #fff;
$secondaryColor: #000;
$tertiaryColor: rgba(0, 0, 0, 0.7);
$quaternyColor: rgba(255, 255, 255, 0.7);

$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Anton', sans-serif;

$borderRadius: 5px;

$textShadow: 5px 3px 6px rgba(0, 0, 0, 0.75);
    
$padding: 15px;
$margin: $padding;

$desktop: 1170px;
$tablet: 670px;