@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  background-image: url("../img/background-1.jpg");
  background-size: cover auto;
  background-position: top center;
  font-family: "Open Sans", sans-serif;
  margin: 0; }
  body main {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto; }

#currentTime {
  color: #fff;
  font-family: "Anton", sans-serif;
  font-size: 5.5em;
  text-shadow: 5px 3px 6px rgba(0, 0, 0, 0.75);
  padding: 15px;
  margin: 20vh auto 10vh;
  border-radius: 5px;
  width: 350px;
  height: 116px;
  text-align: center;
  box-sizing: border-box; }

.input {
  background-color: #fff;
  border-radius: 5px;
  width: 400px;
  margin: 0 auto; }
  .input .fa-github {
    margin: 0 15px;
    vertical-align: middle;
    font-size: 2em;
    max-width: calc(15px * 3); }
  .input input {
    padding: 15px;
    background-color: transparent;
    border: 0;
    width: 80%;
    box-sizing: border-box;
    outline: 0; }

.github-repositories {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow-x: scroll;
  box-sizing: border-box; }
  .github-repositories .repo {
    flex: 0 0 350px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 15px;
    margin: calc(15px / 2);
    box-sizing: border-box; }

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background: #000; }

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 7.5px; }
  ::-webkit-scrollbar-thumb:hover {
    background: #7b7b7b; }
  ::-webkit-scrollbar-thumb:active {
    background: #737373; }

::-webkit-scrollbar-corner {
  background: gray; }

::-webkit-resizer {
  background: gray; }

.settings-toggle {
  display: block;
  line-height: 1em;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.5em;
  padding: 15px;
  text-align: right; }

.settings {
  position: absolute;
  right: -400px;
  top: 0;
  height: 100%;
  width: 400px;
  transition: right 0.3s ease;
  z-index: 20;
  background-color: #fff;
  padding: calc(15px * 2) 15px;
  box-sizing: border-box; }
  .settings:target {
    right: 0;
    outline: 0;
    box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25); }
    .settings:target + .backdrop {
      position: absolute;
      display: block;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 15;
      background-color: rgba(0, 0, 0, 0.8); }
  .settings .username-input {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
    .settings .username-input span {
      flex: 0 0 14%;
      font-weight: bold; }
    .settings .username-input input {
      border: none;
      flex: 0 0 84%;
      padding: calc(15px / 3) 15px;
      border-bottom: 1px solid #000;
      box-sizing: border-box; }
  .settings ul.wallpapers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 15px 0;
    padding: 0;
    list-style-type: none; }
    .settings ul.wallpapers li {
      flex: 0 0 48%; }
      .settings ul.wallpapers li img {
        width: 100%;
        border-radius: 5px; }

.settings,
.settings:target + .backdrop {
  position: fixed; }

/*# sourceMappingURL=style.css.map */